<robot name="danieli-drone">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <link name="danieli2/imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>

  <link name="os_imu">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>

  <link name="os_lidar">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="base_link" />

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="danieli2/imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  
  <joint name="ouster_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="os_lidar" />
    <origin xyz="0.08 0. -0.1578" rpy="3.151592653589793 0.3023284641020683 0." />
  </joint>
  
  <joint name="os_imu_link_joint" type="fixed">
    <parent link="os_lidar" />
    <child link="os_imu" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>


