<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<launch>
  <arg name="namespace"               default="$(env UAV_NAMESPACE)"/>
  <arg name="publish_rate"            default="50"/>

  <!-- Simulation parameters -->
  <arg name="simulation"              default="false"/>
  <arg name="slam_ns"                 default="map"/>

  <!-- Determine frame names-->
  <arg     if="$(arg simulation)"     name="map_frame"      value="$(arg namespace)/$(arg slam_ns)/map" />
  <arg unless="$(arg simulation)"     name="map_frame"      value="$(arg namespace)/map" />
  <arg     if="$(arg simulation)"     name="tracking_frame" value="$(arg namespace)/$(arg slam_ns)/base_link" />
  <arg unless="$(arg simulation)"     name="tracking_frame" value="$(arg namespace)/base_link" />

  <!-- Cartographer pose / transform topics -->
  <arg name="carto_pose"              default="uav/cartographer/pose"/>
  <arg name="carto_transform"         default="uav/cartographer/transform"/>

  <!-- Cartographer topic names -->
  <arg name="imu"                     default="mavros/imu/data"/>
  <arg name="fix"                     default="mavros/global_position/global"/>
  <arg name="points2"                 default="velodyne_points"/>
  <arg name="transform"               default="/pozyx/measured"/>
  
  <!-- Cartographer configuration parameters -->
  <arg name="configuration_directory" default="$(find uav_ros_general)/cartographer_config"/>
  <arg name="configuration_basename"  default ="second_tuning_new_params.lua"/>

  <!-- Starter parameters -->
  <arg name="enable_starter"          default="false"/>
  <arg name="starter_odom"            default="starter_odom"/>
  <arg name="starter_transform"       default="starter_transform"/>
  <arg name="use_fixed_yaw"           default="false"/>
  <arg name="fixed_yaw"               default="0"/>

  <!-- Debug arguments -->
  <arg     if="$(arg enable_starter)" name="start_trajectory_with_default_topics" value="false" />
  <arg unless="$(arg enable_starter)" name="start_trajectory_with_default_topics" value="true" />

  <group ns="$(arg namespace)">

    <!-- Launch cartographer_ros node -->
    <node 
      name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -start_trajectory_with_default_topics=$(arg start_trajectory_with_default_topics)
          -configuration_directory $(arg configuration_directory)
          -configuration_basename $(arg configuration_basename)"
      output="screen">

        <remap from="imu"       to="$(arg imu)"/>
        <remap from="points2"   to="$(arg points2)"/>
        <remap from="fix"       to="$(arg fix)"/>
        <remap from="transform" to="$(arg transform)"/>
    </node>

    <!-- Launch slam starter -->
    <node 
      name="SLAM_starter" pkg="cartographer_ros" type="slam_starter.py"
      args="$(arg configuration_directory) $(arg configuration_basename)">
        
        <remap from="starter_odom"      to="$(arg starter_odom)"/>
        <remap from="starter_transform" to="$(arg starter_transform)"/>
        
        <param name="use_fixed_yaw"   value="$(arg use_fixed_yaw)"/>
        <param name="fixed_yaw"       value="$(arg fixed_yaw)"/>
    </node>

    <!-- Publishes uav/cartographer/pose with the different namespace for sim and online -->
    <node name="pose_from_tf" pkg="uav_ros_general" type="pose_from_tf.py" output="screen">
      <param name="map_frame"       value="$(arg map_frame)"/>
      <param name="tracking_frame"  value="$(arg tracking_frame)"/>
      <param name="publish_rate"    value="$(arg publish_rate)"/>

      <remap from="carto_pose"      to="$(arg carto_pose)"/>
      <remap from="carto_transform" to="$(arg carto_transform)"/>  
    </node>
  </group>
</launch>

