<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <arg name="namespace" default="$(env UAV_NAMESPACE)" />
  <arg name="slam_ns" default="slam"/>

  <arg name="configuration_directory" default="$(find uav_ros_general)/config"/>
  <arg name="configuration_basename" default ="second_tuning_sim.lua"/>


  <include file="$(find uav_ros_general)/launch/robot_state_publisher.launch">
    <arg name="namespace" value="$(arg slam_ns)"/>
  </include>

  <group ns="$(arg slam_ns)">	
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -start_trajectory_with_default_topics=false
          -configuration_directory $(arg configuration_directory)
          -configuration_basename $(arg configuration_basename)"
      output="screen">
  <!--param name="map_topic" value="/map" /-->

    <remap from="imu" to="/$(arg namespace)/mavros/imu/data" />
    <!--node name="imu_relay" pkg="topic_tools" type="relay"
       args="/mavros/imu/data_raw /imu" /-->
    <remap from="points2" to="/$(arg namespace)/velodyne_points" />
    <remap from="fix" to="/$(arg namespace)/mavros/global_position/global" />
    <remap from="tf_cart" to="tf" />
   </node>

    <node name="SLAM_starter" pkg="cartographer_ros" type="slam_starter.py"
        args="$(arg configuration_directory) $(arg configuration_basename)">
        <remap from="odom" to="/red/mavros/global_position/local"/>
    </node>

  </group>
  
  <!-- Publishes uav/cartographer/pose -->
  <node name="pose_to_global" pkg="uav_ros_general" type="pose2global.py" output="screen" ns="$(arg namespace)/$(arg slam_ns)"/>
  
</launch>
