<launch>
  <arg name="namespace" default="$(env UAV_NAMESPACE)"/>
  <arg name="pose"      default="pose"/>
  <arg name="odometry"  default="odometry"/>
  <arg name="config_file" default="$(find erl_drone)/config/vision_pose_config.yaml"/>

  <node pkg="erl_drone" name="vision_pose_publisher" type="vision_pose_publisher.py" ns="$(arg namespace)" output="screen">
    <rosparam command="load" file="$(arg config_file)"/>
    
    <!-- Do the remaps -->
    <remap from="pose"      to="$(arg pose)"/>
    <remap from="odometry"  to="$(arg odometry)"/>
  </node>
</launch>